

header h1 {
	background-color: grey;
}


main {
	min-height: 100%;
}


html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: grey;
}

.content-wrap {
    box-sizing: border-box;
    min-height: 100%;
    padding: 0 0 100px;
    position: relative;
    background-color: grey;
}

footer {
    bottom: 0;
    height: 100px;
    left: 0;
    position: absolute;
    width: 100%;
}